 <!DOCTYPE html>

 <html>
     <head>
         <title>Главная страница</title>
     </head>

     <body>
         <h3>ЗАголовок</h3>
        <p>Привет из первого представления</p>
     </body>


 </html>
